body{
	height:100vh;
}
/* ------------------ background-clip ------------------ */
.container{
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	width:1000px;
	height:50%;
	margin:auto;
}
.box{
	box-sizing:border-box;
	width:300px;
	height:200px;
	padding:20px;
	margin-right:30px;
	text-align:center;
	line-height:160px;
	border:1px solid #000;
	background:yellow;
}
.box:nth-child(1){
	background-clip:padding-box;;
}
.box:nth-child(2){
	background-clip:content-box;
}
.box:nth-child(3){
	border:none;
	background-clip:border-box;
}
.box:last-child{
	margin:0;
}
/* ------------------ background-origin ------------------ */
.container2{
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	width:1000px;
	height:50%;
	margin:auto;
}
.box2{
	box-sizing:border-box;
	width:300px;
	height:200px;
	padding:20px;
	margin-right:30px;
	text-align:center;
	color:#FFF;
	font-weight:bold;
	line-height:160px;
	border:3px solid yellow;
}
.box2:nth-child(1){
	background:url('../../Images/268l9I-wqC4.jpg') no-repeat center center;
	background-size:cover;
	background-origin:padding-box;
}
.box2:nth-child(2){
	background:url('../../Images/7rq8zzRBWG0.jpg') no-repeat center center;
	background-size:cover;
	background-origin:border-box;
	border:none;
}
.box2:nth-child(3){
	background:url('../../Images/hxtJnbzmXgM.jpg') no-repeat center center;
	background-size:cover;
	background-origin:content-box;
}
.box2:last-child{
	margin:0;
}