body{
	height:100vh;
}
.container{
	width:1000px;
	height:100%;
	margin:auto;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-align:center;
}
.media-controls{
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	margin-top:30px;
}
.controls{
	width:120px;
}
.controls a{
	color:#666;
}
.progress{
	width:868px;
	padding:12px;
	border:1px solid #666;
	border-radius:20px;
}
#progress-bar{
	width:0px;
	height:12px;
	background:red;
	border-radius:6px;
}